.App {
  text-align: center;
  margin-top: 12rem;
  font-size: 1.8rem;
}
.app {
  background-color: rgb(56, 87, 7);
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-height: 20rem;
  margin-top: 2rem;
  border-radius: 1rem;

}
.app-header {
  margin-top: 3rem;
  color:  rgb(56, 87, 7);
}

.questions {
  padding-top: 2rem;
  color: rgb(212, 233, 117);
}
.answer-list {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1.5rem;
  

}
.answer-item {
  list-style: none;
  margin-bottom: 2rem;

}
input {
  border: none;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 5px;
  background-color: rgb(212, 233, 117);
  color:  rgb(56, 87, 7);

}
.showscore {
  font-size: 5rem;
  color: rgb(56, 87, 7);
  margin-top: 12rem;
}
.btn {
  background-color:  rgb(56, 87, 7);
  color: rgb(212, 233, 117);
  padding: 1rem 3rem;
  font-size: 2.5rem;
  border: none;
}