.App {
  width: 70vh;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  
}

a {
  text-decoration: none;
  display: block;
  margin-right: 10px;
}
