.App {
  width: 70vw;
  margin: auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  display: flex;
  /* justify-content: space-around; */
}
a {
  text-decoration: none;
  display: block;
  margin-right: 10px;
}
.searchBox{
  padding: 12px;
  width: 35%;
  border-radius: 6px;
  border: 1px solid rgb(44, 132, 255);
}

