.App {
  width: 70%;
  max-width: auto;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  display: block;
  margin-right: 10px;
}
